  .view text selection {
  background-color: rgba(138, 180, 248, 0.8);;
  color: #000000;
}

/* Styling the tooltip container */
tooltip {
    background-color: rgba(29, 29, 29, 0.80);
    #272727; /* Dark background color */
    color: #8ab4f8;            /* Light text color */
    border-radius: 9px;        /* Optional: rounded corners */
    padding: 14px 14px;         /* Optional: some padding */
}

/* Styling the label inside the tooltip */
tooltip label {
    font-size: 14px;           /* Optional: font size adjustment */
}

/*thunar*/

.thunar toolbar {
  margin-top: 0px;
  /* margin-top: 0px;*/
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #272727;
}

/*buttons in toolbar*/

.thunar toolbar.horizontal button image {

  -gtk-icon-transform: scale(0.72);
}

scrolledwindow.sidebar treeview.view {
  border: none;
  background: #272727;
  color: #c3c3c3;
}

/*path-bar of thunar*/
window.thunar toolbar#location-toolbar>toolitem>widget>widget.linked.path-bar>button.toggle.path-bar-button:checked {
  color: #c3c3c3;
  background: #272727;
  border-radius: 20px 20px 20px 20px;

  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

window.thunar toolbar#location-toolbar>toolitem>widget>widget.linked.path-bar>button.path-bar-button {
  background: none;
  outline: none;
  border: none;
  box-shadow: none;
}

/*thunar sidepane*/

window.thunar paned>scrolledwindow treeview.view:selected {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  background: #272727;
  -gtk-secondary-caret-color: rgba(138, 180, 248, 0.8);
}

.thunar .shortcuts-pane .view:selected {
  background-color: rgba(138, 180, 248, 0.8);
}

/*thunar background*/

.thunar .standard-view {
  background-color: #272727;
}

.thunar .view:selected {
  background-color: rgba(138, 180, 248, 0.8);
  color: #000000;
}

/*thunar mouse selection*/

.thunar .rubberband {
  background-color: rgba(138, 180, 248, 0.2);
  border-width: 0px;
}

/*thunar status bar*/

.thunar statusbar {
  background-color: #272727;
}
