* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Source Sans Pro, Material Design Icons;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(39, 39, 39, 0.15);
    color: #c3c3c3;
}
/*
window > box {
	margin-top: 6px;
    margin-left: 12px;
    margin-right: 12px;
    background: rgba(39, 39, 39, 0.85);
    color: #c3c3c3;
    border-radius: 0px;
    min-height: 24px;
}
*/
window#waybar.hidden {
    opacity: 0.85;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 7px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

tooltip {
    color: #272727;
    background-color: #c3c3c3;
    text-shadow: none;
    font-weight: 600;
  }

  tooltip * {
    color: #272727;
    text-shadow: none;
  }
#workspaces button {
    padding: 0 6px;
    background-color: transparent;
    color: #5d5d5d;
    font-size: 20px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    font-size: 20px;
}

#workspaces button.focused {
    background-color: transparent;
    color: #8ab458;
    box-shadow: inset 0 -3px transparent;
    font-size: 20px;
}

#workspaces button.active {
    background-color: transparent;
    color: #8ab4f8;
    box-shadow: inset 0 -3px transparent;
    font-size: 20px;
}

#workspaces button.urgent {
    background-color: transparent;
    color: #ac4142;
    border-radius: 7px;
    font-size: 20px;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock {
    padding: 0 12px;
}

#battery,
#backlight,
#network,
#pulseaudio,
#tray {
    padding: 0 6px;
    color: #c3c3c3;
    background-color: transparent;
}

#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#window {
    color: #ffffff;
    font-weight: 600;
}

#clock {
    color: #c3c3c3;
    font-family: Source Code Pro;
    font-weight: bold;
}

#battery {
    color: #90a959;
    border-radius: 7px;
}

#battery.charging, #battery.plugged {
    color: #c3c3c3;
    background-color: transparent;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: #ac4142;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#backlight {
    background-color: transparent;
    color: #c3c3c3;
}

#network {
    background-color: transparent;
    color: #c3c3c3;
}

#network.disconnected {
    background-color: transparent;
    color: #5d5d5d;
}

#bluetooth {
    background-color: transparent;
    color: #c3c3c3;
}

#pulseaudio {
    background-color: transparent;
    color: #c3c3c3;
}

#pulseaudio.muted {
    background-color: transparent;
    color: #ac4142;
}

#tray {
    background-color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#keyboard-state {
    color: #5d5d5d;
    padding: 0 0px;
    margin: 0 6px;
    min-width: 12px;
    font-size: 10px;
}

#keyboard-state > label {
    padding: 0 6px;
    border-radius: 7px;
}

#keyboard-state > label.locked {
    color: #c3c3c3;
    border-radius: 7px;
}

#custom-updates {
    color: #1793d0;
}

