* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: SF Pro Text;
    font-weight: 600;
}

window#waybar {
    background-color: rgba(29, 29, 29, 0.75);   
    color: #c3c3c3;
    border-radius: 0px;
}

window#waybar.hidden {
    opacity: 0;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 9px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

tooltip {
    color: #8ab4f8;
    background-color: rgba(29, 29, 29, 0.75);
    text-shadow: none;
    font-size: 14px;
    }

tooltip * {
    color: #8ab4f8;
    text-shadow: none;
}

#workspaces button {
    background-color: transparent;
    color: #5d5d5d;
    box-shadow: inset 0 -3px transparent;
    font-family: Material Design Icons;
    font-size: 22px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.20);
}

#workspaces button.focused {
    background-color: transparent;
    color: #8ab4f8;
    box-shadow: inset 0 -3px transparent;
}

#workspaces button.active {
    background-color: transparent;
    color: #8ab4f8;
    box-shadow: inset 0 -3px transparent;
}

#workspaces button.urgent {
    background-color: transparent;
    color: #ac4142;
    box-shadow: inset 0 -3px transparent;
    border-radius: 6px;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock {
    margin: 6px;
}

#battery,
#backlight,
#network,
#pulseaudio,
#tray {
    color: #c3c3c3;
    background-color: transparent;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 6px;
}

/* If clock is the rightmost module, omit right margin */
.modules-right>widget:last-child>#clock {
    margin-right: 9px;
}

#window {
    color: #c3c3c3;
    margin: 6px;
    font-size: 14px;
    }

#clock {
    color: #c3c3c3;
    font-weight: 800;
    font-size: 14px;
    box-shadow: inset 0 -3px transparent;
    margin: 6px;
    }

#battery {
    color: #90a959;
    font-size: 20px;
    margin: 6px;
}

#battery.charging,
#battery.plugged {
    color: #c3c3c3;
    background-color: transparent;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: #ac4142;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#backlight {
    background-color: transparent;
    color: #c3c3c3;
    font-size: 20px;
    margin: 6px;
}

#network {
    background-color: transparent;
    color: #c3c3c3;
    font-size: 20px;
    margin: 6px;
}

#network.ethernet {
    font-size: 20px;
}

#network.wifi {
    font-size: 20px;
}

#network.disconnected {
    background-color: transparent;
    color: #5d5d5d;
}

#network.linked {
    color: #ac4142;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#bluetooth {
    background-color: transparent;
    color: #c3c3c3;
    font-size: 20px;
    margin: 6px;
}

#bluetooth.disabled {
    background-color: transparent;
    color: #5d5d5d;
    margin: 6px;
}

#bluetooth.off {
    background-color: transparent;
    color: #5d5d5d;
    margin: 6px;
}

#bluetooth.connected {
    background-color: transparent;
    color: #90a959;
    margin: 6px;
}

#pulseaudio {
    background-color: transparent;
    color: #c3c3c3;
    font-size: 20px;
    margin: 6px;
}

#pulseaudio.muted {
    background-color: transparent;
    color: #ac4142;
    margin: 6px;
}

#tray {
    background-color: transparent;
    font-size: 20px;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#keyboard-state {
    color: #5d5d5d;
    padding: 0 0px;
    margin: 3px 0;
    min-width: 12px;
    font-size: 20px;
}

#keyboard-state>label {
    padding: 0 6px;
    border-radius: 6px;
}

#keyboard-state>label.locked {
    color: #c3c3c3;
    border-radius: 9px;
}

#custom-updates {
    color: #1793d0;
    font-size: 20px;
    margin: 6px;
}

#custom-menu {
    color: #c3c3c3;
    font-size: 20px;
    margin: 6px;
}

#custom-home {
    color: #c3c3c3;
    font-size: 20px;
    margin: 6px;
}

#custom-overview {
    color: #c3c3c3;
    font-size: 20px;
    margin: 6px;
}

#custom-separator {
  color: #5d5d5d;
  margin: 0 6px;
}
