# Include for 'rtorrent.d', generated 2020-05-18 16:47:27
import = "~/.pyroscope/rtorrent.d/00-default.rc.default"
import = "~/.pyroscope/rtorrent.d/auto-scrape.rc.default"
import = "~/.pyroscope/rtorrent.d/bind-navigation-keys.rc.default"
import = "~/.pyroscope/rtorrent.d/categories.rc.default"
import = "~/.pyroscope/rtorrent.d/collapse-built-in-views.rc.default"
import = "~/.pyroscope/rtorrent.d/commands.rc.default"
import = "~/.pyroscope/rtorrent.d/helper-methods.rc.default"
import = "~/.pyroscope/rtorrent.d/logging.rc.default"
import = "~/.pyroscope/rtorrent.d/quick-help.rc.default"
import = "~/.pyroscope/rtorrent.d/theming.rc.default"
import = "~/.pyroscope/rtorrent.d/timestamps.rc.default"
import = "~/.pyroscope/rtorrent.d/torque.rc.default"
import = "~/.pyroscope/rtorrent.d/view-datasize.rc.default"
import = "~/.pyroscope/rtorrent.d/view-indemand.rc.default"
import = "~/.pyroscope/rtorrent.d/view-last_xfer.rc.default"
import = "~/.pyroscope/rtorrent.d/view-messages.rc.default"
import = "~/.pyroscope/rtorrent.d/view-ratio.rc.default"
import = "~/.pyroscope/rtorrent.d/view-tagged.rc.default"
import = "~/.pyroscope/rtorrent.d/view-trackers.rc.default"
import = "~/.pyroscope/rtorrent.d/view-uploaded.rc.default"
