URxvt*font:			xft:DejaVuSansMono Nerd Font Mono:style=Book:size=9.5,\
				xft:Material Design Icons:size=8.5\
URxvt*boldFont:			xft:DejaVuSansMono Nerd Font Mono:style=Bold:size=9.5
URxvt*italicFont:		xft:DejaVuSansMono Nerd Font Mono:style=Oblique:size=9.5
URxvt*boldItalicFont:		xft:DejaVuSansMono Nerd Font Mono:style=Bold Oblique:size=9.5
URxvt*depth:			24
URxvt*intensityStyles:		false
URxvt*urgentOnBell:		true
URxvt*saveLines:		9999
URxvt*scrollBar:		false
URxvt*scrollTtyOutput:		false
URxvt*scrollWithBuffer:		true
URxvt*scrollTtyKeypress:	true
URxvt*internalBorder:		16
URxvt*cursorBlink:		true
URxvt*cursorUnderline:		false
URxvt*pointerBlank:		true
URxvt*secondaryScreen:		true
URxvt*secondaryScroll:		false
URxvt*perl-ext-common:		default,matcher,clipboard,url-select,keyboard-select,vtwheel
URxvt*url-select.launcher:	/usr/bin/xdg-open
URxvt*url-select.underline:	true
URxvt*url-launcher:		/usr/bin/xdg-open
URxvt*matcher.button:		1
URxvt*keysym.C-A-c:		perl:clipboard:copy
URxvt*keysym.C-A-v:		perl:clipboard:paste
URxvt*keysym.M-u:		perl:url-select:select_next
URxvt*keysym.M-Escape:		perl:keyboard-select:activate
URxvt*keysym.M-s:		perl:keyboard-select:search
URxvt*keysym.Home:		\033[1~
URxvt*keysym.End:		\033[4~
URxvt*keysym.KP_Home:		\033[1~
URxvt*keysym.KP_End:		\033[4~
URxvt*iso14755:			false

! special
*.foreground:   #bdbdbd
*.background:   #353535
*.cursorColor:  #bdbdbd

! black
*.color0:       #5d5d5d
*.color8:       #818181

! red
*.color1:       #ac4142
*.color9:       #bc6667

! green
*.color2:       #90a959
*.color10:      #a6ba7a

! yellow
*.color3:       #f4bf75
*.color11:      #f6cb90

! blue
*.color4:       #6a9fb5
*.color12:      #87b2c3

! magenta
*.color5:       #aa759f
*.color13:      #bb90b2

! cyan
*.color6:       #75b5aa
*.color14:      #90c3bb

! white
*.color7:       #bdbdbd
*.color15:      #e0e0e0
