URxvt*font:			-*-tamzenforpowerline-medium-r-*-*-13-*-*-*-*-*-*-*,\
				xft:Material Design Icons:size=6:antialiasing=false,\
				xft:Symbola:size=14:antialiasing=false
URxvt*boldFont:			-*-tamzenforpowerline-bold-r-*-*-13-*-*-*-*-*-*-*
URxvt*italicFont:		-*-tamzenforpowerline-medium-i-*-*-13-*-*-*-*-*-*-*
URxvt*boldItalicFont:		-*-tamzenforpowerline-bold-i-*-*-13-*-*-*-*-*-*-*
URxvt*intensityStyles:		false
URxvt*urgentOnBell:		true
URxvt*saveLines:		9999
URxvt*scrollBar:		false
URxvt*scrollTtyOutput:		false
URxvt*scrollWithBuffer:		true
URxvt*scrollTtyKeypress:	true
URxvt*internalBorder:		11
URxvt*cursorBlink:		true
URxvt*cursorUnderline:		false
URxvt*pointerBlank:		true
URxvt*secondaryScreen:		true
URxvt*secondaryScroll:		false
URxvt*depth:			32
URxvt*perl-ext-common:		default,matcher,clipboard,url-select,keyboard-select,vtwheel,fullscreen
URxvt*url-select.launcher:	/usr/bin/xdg-open
URxvt*url-select.underline:	true
URxvt*url-launcher:		/usr/bin/xdg-open
URxvt*matcher.button:		1
URxvt*keysym.C-A-c:		perl:clipboard:copy
URxvt*keysym.C-A-v:		perl:clipboard:paste
URxvt*keysym.M-u:		perl:url-select:select_next
URxvt*keysym.M-Escape:		perl:keyboard-select:activate
URxvt*keysym.M-s:		perl:keyboard-select:search
URxvt*keysym.Home:		\033[1~
URxvt*keysym.End:		\033[4~
URxvt*keysym.KP_Home:		\033[1~
URxvt*keysym.KP_End:		\033[4~
URxvt*keysym.F11:		perl:fullscreen:switch
URxvt*iso14755:			false

Xft.dpi:			96

Xft.autohint:			0
Xft.lcdfilter:			lcddefault
Xft.hintstyle:			hintfull
Xft.hinting:			1
Xft.antialias:			1
Xft.rgba:			rgb

! special
*.foreground:   #e8e8e8
*.background:   #383838
*.cursorColor:  #e8e8e8

! black
*.color0:       #5f5f5f
*.color8:       #737373

! red
*.color1:       #cc6666
*.color9:       #d17575

! green
*.color2:       #b5bd68
*.color10:      #bcc377

! yellow
*.color3:       #f0c674
*.color11:      #f1cb81

! blue
*.color4:       #81a2be
*.color12:      #8dabc4

! magenta
*.color5:       #b294bb
*.color13:      #b99ec1

! cyan
*.color6:       #8abeb7
*.color14:      #95c4be

! white
*.color7:       #e8e8e8
*.color15:      #eaeaea
