URxvt*font:			-*-tamzenforpowerline-medium-r-*-*-13-*-*-*-*-*-*-*,\
				xft:Material Design Icons:size=6:antialiasing=false,\
				xft:Symbola:size=6:antialiasing=false
URxvt*boldFont:			-*-tamzenforpowerline-bold-r-*-*-13-*-*-*-*-*-*-*
URxvt*italicFont:		-*-tamzenforpowerline-medium-i-*-*-13-*-*-*-*-*-*-*
URxvt*boldItalicFont:		-*-tamzenforpowerline-bold-i-*-*-13-*-*-*-*-*-*-*
URxvt*intensityStyles:		false
URxvt*urgentOnBell:		true
URxvt*saveLines:		9999
URxvt*scrollBar:		false
URxvt*scrollTtyOutput:		false
URxvt*scrollWithBuffer:		true
URxvt*scrollTtyKeypress:	true
URxvt*internalBorder:		11
URxvt*cursorBlink:		true
URxvt*cursorUnderline:		false
URxvt*pointerBlank:		true
URxvt*secondaryScreen:		true
URxvt*secondaryScroll:		false
URxvt*depth:			32
URxvt*perl-ext-common:		default,matcher,clipboard,url-select,keyboard-select,vtwheel,fullscreen
URxvt*url-select.launcher:	/usr/bin/xdg-open
URxvt*url-select.underline:	true
URxvt*url-launcher:		/usr/bin/xdg-open
URxvt*matcher.button:		1
URxvt*keysym.C-A-c:		perl:clipboard:copy
URxvt*keysym.C-A-v:		perl:clipboard:paste
URxvt*keysym.M-u:		perl:url-select:select_next
URxvt*keysym.M-Escape:		perl:keyboard-select:activate
URxvt*keysym.M-s:		perl:keyboard-select:search
URxvt*keysym.Home:		\033[1~
URxvt*keysym.End:		\033[4~
URxvt*keysym.KP_Home:		\033[1~
URxvt*keysym.KP_End:		\033[4~
URxvt*keysym.F11:		perl:fullscreen:switch
URxvt*iso14755:			false

Xft.dpi:			96

Xft.autohint:			0
Xft.lcdfilter:			lcddefault
Xft.hintstyle:			hintfull
Xft.hinting:			1
Xft.antialias:			1
Xft.rgba:			rgb

! Colors
URxvt*foreground:   #eaeaeb
URxvt*background:   #2f343f
URxvt*cursorColor:  #eaeaeb

! black
URxvt*color0:       #585c65
URxvt*color8:       #585c65

! red
URxvt*color1:       #ac4142
URxvt*color9:       #ac4142

! green
URxvt*color2:       #90a959
URxvt*color10:      #90a959

! yellow
URxvt*color3:       #f4bf75
URxvt*color11:      #f4bf75

! blue
URxvt*color4:       #6a9fb5
URxvt*color12:      #6a9fb5

! magenta
URxvt*color5:       #aa759f
URxvt*color13:      #aa759f

! cyan
URxvt*color6:       #75b5aa
URxvt*color14:      #75b5aa

! white
URxvt*color7:       #eaeaeb
URxvt*color15:      #eaeaeb
