* {
    background: rgba(29, 29, 29, 0.38);
    background-alt: rgba(29, 29, 29, 0.10);
    foreground: #c3c3c3;
    selected-bg: #8ab4f8;
    selected-fg: #272727;
    border-color: #1d1d1d;
    transparent: rgba(0, 0, 0, 0);
}

window {
    transparency: "real";
    location: west;
    anchor: west;
    x-offset: 0px;
    y-offset: 0px;
    width: 480px;
    height: 100%;
    background-color: @background;
    border: 1px solid;
    border-color: @border-color;
    border-radius: 0px 9px 9px 0px;
}

mainbox {
    background-color: @transparent;
    children: [ inputbar, listview ];
}

inputbar {
    background-color: @background-alt;
    text-color: @foreground;
    padding: 10px;
    children: [ prompt, entry ];
}

prompt {
    background-color: @transparent;
    text-color: @foreground;
    padding: 0px 10px 0px 0px;
}

entry {
    background-color: @transparent;
    text-color: @foreground;
    placeholder: "Search...";
    placeholder-color: rgba(195, 195, 195, 0.5);
}

listview {
    background-color: @transparent;
    padding: 10px 0px;
    spacing: 0px;
    scrollbar: false;
}

element {
    background-color: @transparent;
    text-color: @foreground;
    padding: 6px 14px;
    margin: 6px 14px;
    border-radius: 9px;
}

element selected.normal {
    background-color: @selected-bg;
    text-color: @selected-fg;
}

element-text {
    background-color: inherit;
    text-color: inherit;
    vertical-align: 0.5;
}

element-icon {
    background-color: inherit;
    size: 24px;
    padding: 0px 10px 0px 0px;
}
