"*":
  core:
    autoHideMenuBar: true
    telemetryConsent: "no"
    themes: [
      "atom-minimal-ui"
      "soothe-dark-syntax"
    ]
  editor:
    fontFamily: "LigaSrc Pro, Material Design Icons"
  "exception-reporting":
    userId: "88b49b10-0169-4aa7-bbf7-f5b48d955392"
  "linter-ui-default": {}
  minimap:
    plugins:
      "minimap-hide": true
      "minimap-hideDecorationsZIndex": 0
  welcome:
    showOnStartup: false
