atom-workspace {
  font-family: Inter Medium;
}
@font-size: 14px;
html, body, .tree-view, .tab-bar .tab {
  font-size: @font-size;
}
atom-text-editor {
  font-family: "LigaOperatorMonoSSm-Book", "Operator Mono SSm Book", "Material Design Icons";
}
