atom-workspace {
  font-family: Inter;
}
.tab-bar {
  && {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }

  &&& .tab:not(.pinned) {
    text-align: center;
    max-width: none !important;
    min-width: 1px;
    flex: auto;
    padding: 0;
  }
}
//Fira Code for ligatures
atom-text-editor.editor {
  .syntax--storage.syntax--type.syntax--function.syntax--arrow,
  .syntax--keyword.syntax--operator:not(.accessor),
  .syntax--operator,
  .syntax--punctuation.syntax--definition {
    font-family: "Fira Code";
  }

  .syntax--string.syntax--quoted,
  .syntax--string.syntax--regexp {
    -webkit-font-feature-settings: "liga" off, "calt" off;
  }
}
