#syshud {
	background: transparent;
}

#syshud .box_layout {
	background: rgba(29, 29, 29, 0.45);
	border-radius: 9px;
	border: 1px solid #454545;
	margin: 9px;
}

#syshud scale {
	margin: 0px;
	padding: 0px;
}
#syshud label {
	color: #8ab4f8;
	font-size: 14px;
}

/* Scale */
#syshud scale {
	padding: 0px;
	min-height: 5px;
	min-width: 5px;
}
#syshud scale trough {
	border-radius: 3px;
	background: rgba(195, 195, 195, 0.15);
	min-height: 3px;
	min-width: 3px;
	padding: 0px;
}
#syshud scale.horizontal highlight {
	border-radius: 0px;
	min-height: 5px;
	min-width: 5px;
	background: #8ab4f8;
	margin: 0px;
}
#syshud scale slider {
	margin: 0px;
	background: transparent;
	min-height: 3px;
	min-width: 3px;
	box-shadow: none;
	padding: 0px;
}

/* Levels */
#syshud .muted {
	color: #5d5d5d;
	font-size: 14px;
}
#syshud .low {
}
#syshud .medium {
}
#syshud .high {
}