# Adjust keyboard backlight directly based on power state
ACTION=="change", SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/usr/bin/systemd-run --no-block /usr/bin/sh -c 'echo 1 > /sys/class/leds/tpacpi::kbd_backlight/brightness'"
ACTION=="change", SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/usr/bin/systemd-run --no-block /usr/bin/sh -c 'echo 0 > /sys/class/leds/tpacpi::kbd_backlight/brightness'"
