# Suspend the system when battery level drops to 8% or lower
SUBSYSTEM=="power_supply", ATTR{type}=="Battery", ATTR{status}=="Discharging", ATTR{capacity}=="[0-8]", RUN+="/usr/bin/systemd-run --no-block /usr/bin/systemctl suspend"
