window {
    background-color: rgba(29, 29, 29, 0.50);
    border-radius: 10px;
}

#outer-box, #scroll, #text, #inner-box {
    background-color: transparent !important;
}

#input {
    color: #c3c3c3;
    border-radius: 9px;
    margin: 12px 100px 18px 100px;
    box-shadow: none;
    background-color: rgba(29, 29, 29, 0.1);
}

#input:focus {
    color: #c3c3c3;
    margin: 12px 12px 18px 12px;
    box-shadow: none;
    background-color: rgba(29, 29, 29, 0.1);
}

#entry {
    background-color: transparent !important;
    font-family: "SF Pro Text";
    font-size: 14px;
    border-radius: 9px;
    margin: 6px 18px;
    padding-left: 12px;
    /* Force 3-line height: (14px * 1.5 line height * 3) + padding */
    min-height: 70px;
}

#entry:selected {
    color: #272727;
    background: #8ab4f8;
}