#window {
    background-color: rgba(39, 39, 39, 0.15);
}

/*
#outer-box {
    background-color: rgba(20, 20,20, 0.7);
    border: 1px solid rgba(255, 0, 0, 0.5);
}*/

#input {
    color: #c3c3c3;
    border-radius: 7px; 

    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 20px;

    box-shadow: none;
    background-color: #2e2e2e;
}

#input:focus {
    color: #c3c3c3;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;

    box-shadow: none;
    background-color: #2e2e2e;
}

#entry {
	font-family: Source Sans Pro;
    font-size: 14px;
	border-radius: 7px;
	margin: 5px;
	margin-right: 20px;
	margin-left: 20px;
	padding-left: 10px;
}

#entry:focus {
    color: #272727;
    background: #8ab4f8;
}
