@import url("style.css");

#input, #input:focus, #outer-box, #scroll, #inner-box {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    background-color: transparent !important;
}

window {
    background-color: rgba(29, 29, 29, 0.50);
    border: none;
    border-radius: 9px;
    padding: 10px;
}

/* Headers: Workspace Label */
#entry:nth-child(1), 
#entry:contains("Workspace") {
    font-weight: 600; /* Semibold */
    color: #8ab4f8;
    background-color: transparent;
    padding-top: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #333;
}

#entry {
    font-weight: 400;
    padding: 10px 15px;
    margin: 2px 0;
    border-radius: 6px;
}

#entry:selected {
    background-color: #8ab4f8;
    color: #1d1d1d;
}