/* Color definitions */ 
@define-color window_bg_color #1d1d1d73; 
@define-color accent_bg_color #8ab4f8; 
@define-color theme_fg_color #c3c3c3; 

/* Reset */       
* {
    all: unset; 
}

window {       
    background: transparent; 
}

#Window, window, window.background {       
    background-color: transparent;       
    box-shadow: none; 
}

/* Display symbolic icons for list items */ 
.item-image, .item-image-text, .item-box image {       
    -gtk-icon-style: symbolic;
    -gtk-icon-size: 26px;       
    min-width: 0px;       
    min-height: 0px;       
    margin: 0px !important;       
    padding: 0px !important;       
    border-radius: 9px; 
}

/* Window wrapper */ 
.box-wrapper {       
    background: @window_bg_color;       
    padding: 18px;       
    border-radius: 9px;       
    border: 1px solid @window_bg_color;       
    width: 600px;       
    min-height: 0px; 
}

/* Input field */ 
.input {       
    caret-color: @accent_bg_color;       
    background: #2e2e2ee6;       
    border: 1px solid @window_bg_color;       
    padding: 9px;       
    color: @theme_fg_color;       
    border-radius: 9px;       
    font-size: 18px; 
}

/* List items */ 
.item-box {       
    border-radius: 9px;       
    padding: 9px;       
    font-size: 14px; 
}

child:selected .item-box {       
    color: #000000;       
    background: alpha(@accent_bg_color, 0.9);       
    border-radius: 9px; 
}

.item-text {       
    font-family: "SF Pro";       
    font-size: 16px; 
}

child:selected .item-text {       
    color: #000000; 
}

/* Hide scrollbar for minimalist look */ 
scrollbar { 
    opacity: 0; 
} 

#box {       
    width: 600px;       
    height: 36px;       
    border-radius: 9px; 
}

/* Structural crush on dormant labels */ 
#Placeholder, #ElephantHint {       
    font-size: 0px;       
    min-height: 0px;       
    margin: 0px !important;       
    padding: 0px !important;       
    opacity: 0; 
}
